body {
    background-color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;
}

#navBar {
    position: -webkit-sticky;
    position: sticky;
    float: left;
    top:0px;
    margin-top: 0;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
  }

  #home {
    color: #9DAD82;
    vertical-align: middle;
    margin: 0;
    font-size: 115%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
  }
  
  #buttons {
    margin-right: 0;
    float: right;
    height: 100%;
    width: 10%;
  }
  
  #contact {
    height: 100%;
    width: 60%;
    margin: 0;
    right: 0;
  }
  
  #menu {
    float: right;
    height: 90%;
    width: 12%;
    margin: 0;
  }

.item {
    font-size: 20px;
    font-family: 'Cormorant', serif;
    transition: all 0.3s ease;
}

.item.about {
    color: #8D8D8D;
}

.item.cook {
    color: #8D8D8D;
}

.item.design {
    color: #8D8D8D;
}

.item.contact {
    color: #87B165;
}

h1 {
    color: #87B165;
    font-size: 350%;
    font-family: 'Cormorant', serif;
}

form  {
    width: 80%;
    float: right;

}

form input {
    width: 30%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #87B165;
    height: 6%;
    font-family: 'Cormorant', serif;
    padding-left: 10px;
}

.submitButton {
    width: 12%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #87B165;
    background-color: whitesmoke;
    border-radius: 15px;
    height: 6%; 
    font-family: 'Cormorant', serif;
    color: grey;
}

.submitButton:hover {
    background-color: #87B165;
    color: whitesmoke;
}

form textarea {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    height: 35%;
    border-radius: 10px;
    border: 2px solid #87B165;
    font-family: 'Cormorant', serif;
    padding-left: 10px;
    padding-top: 10px;
}

::placeholder {
    color: #555555;
}