body {
   background-color: #D3D3D3;
   justify-content: center;
   align-items: center;
   display: flex;
   justify-items: center;
   align-content: center;
}

.text {
    align-items: center;
    display: flex;
    width: 50vw;
}

p {
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 30;
    bottom: 0px;
    color: white;
    position: relative;
}

img {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 20%;
}

.frame1 {
    opacity: 1;
    animation: frame1 5s infinite linear;
}
.frame2 {
    opacity: 0;
    animation: frame2 5s infinite linear;

    }
.frame3 {
    opacity: 0;
    animation: frame3 5s infinite linear;

}
.frame4 {
    opacity: 0;
    animation: frame4 5s infinite linear;

}
.frame5 {
    opacity: 0;
    animation: frame5 5s infinite linear;

}
.frame6 {
    opacity: 0;
    animation: frame6 5s infinite linear;
}

.frame7 {
    opacity: 0;
    animation: frame7 5s infinite linear;
}

.frame8 {
    opacity: 0;
    animation: frame8 5s infinite linear;
}

.frame9 {
    opacity: 0;
    animation: frame9 5s infinite linear;
}

.frame10 {
    opacity: 0;
    animation: frame10 5s infinite linear;
}

.frame11 {
    opacity: 0;
    animation: frame11 5s infinite linear;
}
 
@keyframes frame1 {
  0% {opacity: 100;}
  1% {opacity: 0}
  2% {opacity: 0}
  3% {opacity: 0} 
  4% {opacity: 0}
  5% {opacity: 0}
  6% {opacity: 0}
  7% {opacity: 0}
  8% {opacity: 0}
  9% {opacity: 0}
  10% {opacity: 0}
  11% {opacity: 0}
  12% {opacity: 100}
  13% {opacity: 0}
  14% {opacity: 0}
  15% {opacity: 0}
  16% {opacity: 0}
  17% {opacity: 0}
  18% {opacity: 0}
  19% {opacity: 0}
  20% {opacity: 0}
  21% {opacity: 0}
  22% {opacity: 0}
  23% {opacity: 0}
  24% {opacity: 100}
  25% {opacity: 0}
  26% {opacity: 0}
  27% {opacity: 0}
  28% {opacity: 0}
  29% {opacity: 0}
  30% {opacity: 0}
  31% {opacity: 0}
  32% {opacity: 0}
  33% {opacity: 0}
  34% {opacity: 0}
  35% {opacity: 0}
  36% {opacity: 100}
  37% {opacity: 0}
  38% {opacity: 0}
  39% {opacity: 0}
  40% {opacity: 0}
  41% {opacity: 0}
  42% {opacity: 0}
  43% {opacity: 0}
  44% {opacity: 0}
  45% {opacity: 0}
  46% {opacity: 0}
  47% {opacity: 0}
  48% {opacity: 100}
  49% {opacity: 0}
  50% {opacity: 0}
  51% {opacity: 0}
  52% {opacity: 0}
  53% {opacity: 0}
  54% {opacity: 0}
  55% {opacity: 0}
  56% {opacity: 0}
  57% {opacity: 0}
  58% {opacity: 0}
  59% {opacity: 0}
  60% {opacity: 100}
  61% {opacity: 0}
  62% {opacity: 0}
  63% {opacity: 0}
  64% {opacity: 0}
  65% {opacity: 0}
  66% {opacity: 0}
  67% {opacity: 0}
  68% {opacity: 0}
  69% {opacity: 0}
  70% {opacity: 0}
  71% {opacity: 0}
  72% {opacity: 100}
  73% {opacity: 0}
  74% {opacity: 0}
  75% {opacity: 0}
  76% {opacity: 0}
  77% {opacity: 0}
  78% {opacity: 0}
  79% {opacity: 0}
  80% {opacity: 0}
  81% {opacity: 0}
  82% {opacity: 0}
  83% {opacity: 0}
  84% {opacity: 100}
  85% {opacity: 0}
  86% {opacity: 0}
  87% {opacity: 0}
  88% {opacity: 0}
  89% {opacity: 0}
  90% {opacity: 0}
  95% {opacity: 100%}
  96% {opacity: 0}
  97% {opacity: 0}
  98% {opacity: 0}
  99% {opacity: 0}
  100% {opacity: 0}
}

@keyframes frame2 {
    0% {opacity: 0;}
    1% {opacity: 100}
    2% {opacity: 0}
    3% {opacity: 0} 
    4% {opacity: 0}
    5% {opacity: 0}
    6% {opacity: 0}
    7% {opacity: 0}
    8% {opacity: 0}
    9% {opacity: 0}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 100}
    14% {opacity: 0}
    15% {opacity: 0}
    16% {opacity: 0}
    17% {opacity: 0}
    18% {opacity: 0}
    19% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 0}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 100}
    26% {opacity: 0}
    27% {opacity: 0}
    28% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 0}
    31% {opacity: 0}
    32% {opacity: 0}
    33% {opacity: 0}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 100}
    38% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 0}
    42% {opacity: 0}
    43% {opacity: 0}
    44% {opacity: 0}
    45% {opacity: 0}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 100}
    50% {opacity: 0}
    51% {opacity: 0}
    52% {opacity: 0}
    53% {opacity: 0}
    54% {opacity: 0}
    55% {opacity: 0}
    56% {opacity: 0}
    57% {opacity: 0}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 100}
    62% {opacity: 0}
    63% {opacity: 0}
    64% {opacity: 0}
    65% {opacity: 0}
    66% {opacity: 0}
    67% {opacity: 0}
    68% {opacity: 0}
    69% {opacity: 0}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 100}
    74% {opacity: 0}
    75% {opacity: 0}
    76% {opacity: 0}
    77% {opacity: 0}
    78% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0}
    81% {opacity: 0}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 100}
    86% {opacity: 0}
    87% {opacity: 0}
    88% {opacity: 0}
    89% {opacity: 0}
    90% {opacity: 0}
    96% {opacity: 100}
    97% {opacity: 0}
    98% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 0}
  }

  @keyframes frame3 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 100}
    3% {opacity: 0} 
    4% {opacity: 0}
    5% {opacity: 0}
    6% {opacity: 0}
    7% {opacity: 0}
    8% {opacity: 0}
    9% {opacity: 0}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 100}
    15% {opacity: 0}
    16% {opacity: 0}
    17% {opacity: 0}
    18% {opacity: 0}
    19% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 0}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 100}
    27% {opacity: 0}
    28% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 0}
    31% {opacity: 0}
    32% {opacity: 0}
    33% {opacity: 0}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 100}
    39% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 0}
    42% {opacity: 0}
    43% {opacity: 0}
    44% {opacity: 0}
    45% {opacity: 0}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 100}
    51% {opacity: 0}
    52% {opacity: 0}
    53% {opacity: 0}
    54% {opacity: 0}
    55% {opacity: 0}
    56% {opacity: 0}
    57% {opacity: 0}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 100}
    63% {opacity: 0}
    64% {opacity: 0}
    65% {opacity: 0}
    66% {opacity: 0}
    67% {opacity: 0}
    68% {opacity: 0}
    69% {opacity: 0}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 100}
    75% {opacity: 0}
    76% {opacity: 0}
    77% {opacity: 0}
    78% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0}
    81% {opacity: 0}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 100}
    87% {opacity: 0}
    88% {opacity: 0}
    89% {opacity: 0}
    90% {opacity: 0}
    95% {opacity: 0}
    97% {opacity: 100}
    98% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 0}
  }

  @keyframes frame4 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 0}
    3% {opacity: 100} 
    4% {opacity: 0}
    5% {opacity: 0}
    6% {opacity: 0}
    7% {opacity: 0}
    8% {opacity: 0}
    9% {opacity: 0}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 0}
    15% {opacity: 100}
    16% {opacity: 0}
    17% {opacity: 0}
    18% {opacity: 0}
    19% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 0}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 0}
    27% {opacity: 100}
    28% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 0}
    31% {opacity: 0}
    32% {opacity: 0}
    33% {opacity: 0}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 0}
    39% {opacity: 100}
    40% {opacity: 0}
    41% {opacity: 0}
    42% {opacity: 0}
    43% {opacity: 0}
    44% {opacity: 0}
    45% {opacity: 0}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 0}
    51% {opacity: 100}
    52% {opacity: 0}
    53% {opacity: 0}
    54% {opacity: 0}
    55% {opacity: 0}
    56% {opacity: 0}
    57% {opacity: 0}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 0}
    63% {opacity: 100}
    64% {opacity: 0}
    65% {opacity: 0}
    66% {opacity: 0}
    67% {opacity: 0}
    68% {opacity: 0}
    69% {opacity: 0}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 100}
    76% {opacity: 0}
    77% {opacity: 0}
    78% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0}
    81% {opacity: 0}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 0}
    87% {opacity: 100}
    88% {opacity: 0}
    89% {opacity: 0}
    90% {opacity: 0}
    95% {opacity: 0}
    97% {opacity: 0}
    98% {opacity: 100}
    99% {opacity: 0}
    100% {opacity: 0}
  }

  @keyframes frame5 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 0}
    3% {opacity: 0} 
    4% {opacity: 100}
    5% {opacity: 0}
    6% {opacity: 0}
    7% {opacity: 0}
    8% {opacity: 0}
    9% {opacity: 0}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 0}
    15% {opacity: 0}
    16% {opacity: 100}
    17% {opacity: 0}
    18% {opacity: 0}
    19% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 0}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 0}
    27% {opacity: 0}
    28% {opacity: 100}
    29% {opacity: 0}
    30% {opacity: 0}
    31% {opacity: 0}
    32% {opacity: 0}
    33% {opacity: 0}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 100}
    41% {opacity: 0}
    42% {opacity: 0}
    43% {opacity: 0}
    44% {opacity: 0}
    45% {opacity: 0}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 0}
    51% {opacity: 0}
    52% {opacity: 100}
    53% {opacity: 0}
    54% {opacity: 0}
    55% {opacity: 0}
    56% {opacity: 0}
    57% {opacity: 0}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 0}
    63% {opacity: 0}
    64% {opacity: 100}
    65% {opacity: 0}
    66% {opacity: 0}
    67% {opacity: 0}
    68% {opacity: 0}
    69% {opacity: 0}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 0}
    76% {opacity: 100}
    77% {opacity: 0}
    78% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0}
    81% {opacity: 0}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 0}
    87% {opacity: 0}
    88% {opacity: 100}
    89% {opacity: 0}
    90% {opacity: 0}
    95% {opacity: 0}
    97% {opacity: 0}
    98% {opacity: 0}
    99% {opacity: 100}
    100% {opacity: 0}
  }

  @keyframes frame6 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 0}
    3% {opacity: 0} 
    4% {opacity: 0}
    5% {opacity: 100}
    6% {opacity: 0}
    7% {opacity: 0}
    8% {opacity: 0}
    9% {opacity: 0}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 0}
    15% {opacity: 0}
    16% {opacity: 0}
    17% {opacity: 100}
    18% {opacity: 0}
    19% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 0}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 0}
    27% {opacity: 0}
    28% {opacity: 0}
    29% {opacity: 100}
    30% {opacity: 0}
    31% {opacity: 0}
    32% {opacity: 0}
    33% {opacity: 0}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 100}
    42% {opacity: 0}
    43% {opacity: 0}
    44% {opacity: 0}
    45% {opacity: 0}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 0}
    51% {opacity: 0}
    52% {opacity: 0}
    53% {opacity: 100}
    54% {opacity: 0}
    55% {opacity: 0}
    56% {opacity: 0}
    57% {opacity: 0}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 0}
    63% {opacity: 0}
    64% {opacity: 0}
    65% {opacity: 100}
    66% {opacity: 0}
    67% {opacity: 0}
    68% {opacity: 0}
    69% {opacity: 0}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 0}
    76% {opacity: 0}
    77% {opacity: 100}
    78% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0}
    81% {opacity: 0}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 0}
    87% {opacity: 0}
    88% {opacity: 0}
    89% {opacity: 100}
    90% {opacity: 0}
    95% {opacity: 0}
    97% {opacity: 0}
    98% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 100}
  }

  @keyframes frame7 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 0}
    3% {opacity: 0} 
    4% {opacity: 0}
    5% {opacity: 0}
    6% {opacity: 100}
    7% {opacity: 0}
    8% {opacity: 0}
    9% {opacity: 0}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 0}
    15% {opacity: 0}
    16% {opacity: 0}
    17% {opacity: 0}
    18% {opacity: 100}
    19% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 0}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 0}
    27% {opacity: 0}
    28% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 100}
    31% {opacity: 0}
    32% {opacity: 0}
    33% {opacity: 0}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 0}
    42% {opacity: 100}
    43% {opacity: 0}
    44% {opacity: 0}
    45% {opacity: 0}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 0}
    51% {opacity: 0}
    52% {opacity: 0}
    53% {opacity: 0}
    54% {opacity: 100}
    55% {opacity: 0}
    56% {opacity: 0}
    57% {opacity: 0}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 0}
    63% {opacity: 0}
    64% {opacity: 0}
    65% {opacity: 0}
    66% {opacity: 100}
    67% {opacity: 0}
    68% {opacity: 0}
    69% {opacity: 0}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 0}
    76% {opacity: 0}
    77% {opacity: 0}
    78% {opacity: 100}
    79% {opacity: 0}
    80% {opacity: 0}
    81% {opacity: 0}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 0}
    87% {opacity: 0}
    88% {opacity: 0}
    89% {opacity: 0}
    90% {opacity: 100}
    95% {opacity: 0}
    97% {opacity: 0}
    98% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 0}
  }

  @keyframes frame8 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 0}
    3% {opacity: 0} 
    4% {opacity: 0}
    5% {opacity: 0}
    6% {opacity: 0}
    7% {opacity: 100}
    8% {opacity: 0}
    9% {opacity: 0}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 0}
    15% {opacity: 0}
    16% {opacity: 0}
    17% {opacity: 0}
    18% {opacity: 0}
    19% {opacity: 100}
    20% {opacity: 0}
    21% {opacity: 0}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 0}
    27% {opacity: 0}
    28% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 0}
    31% {opacity: 100}
    32% {opacity: 0}
    33% {opacity: 0}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 0}
    42% {opacity: 0}
    43% {opacity: 100}
    44% {opacity: 0}
    45% {opacity: 0}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 0}
    51% {opacity: 0}
    52% {opacity: 0}
    53% {opacity: 0}
    54% {opacity: 0}
    55% {opacity: 100}
    56% {opacity: 0}
    57% {opacity: 0}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 0}
    63% {opacity: 0}
    64% {opacity: 0}
    65% {opacity: 0}
    66% {opacity: 0}
    67% {opacity: 100}
    68% {opacity: 0}
    69% {opacity: 0}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 0}
    76% {opacity: 0}
    77% {opacity: 0}
    78% {opacity: 0}
    79% {opacity: 100}
    80% {opacity: 0}
    81% {opacity: 0}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 0}
    87% {opacity: 0}
    88% {opacity: 0}
    89% {opacity: 0}
    90% {opacity: 0}
    91% {opacity: 100}
    97% {opacity: 0}
    98% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 0}
  }

  @keyframes frame9 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 0}
    3% {opacity: 0} 
    4% {opacity: 0}
    5% {opacity: 0}
    6% {opacity: 0}
    7% {opacity: 0}
    8% {opacity: 100}
    9% {opacity: 0}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 0}
    15% {opacity: 0}
    16% {opacity: 0}
    17% {opacity: 0}
    18% {opacity: 0}
    19% {opacity: 0}
    20% {opacity: 100}
    21% {opacity: 0}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 0}
    27% {opacity: 0}
    28% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 0}
    31% {opacity: 0}
    32% {opacity: 100}
    33% {opacity: 0}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 0}
    42% {opacity: 0}
    43% {opacity: 0}
    44% {opacity: 100}
    45% {opacity: 0}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 0}
    51% {opacity: 0}
    52% {opacity: 0}
    53% {opacity: 0}
    54% {opacity: 0}
    55% {opacity: 0}
    56% {opacity: 100}
    57% {opacity: 0}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 0}
    63% {opacity: 0}
    64% {opacity: 0}
    65% {opacity: 0}
    66% {opacity: 0}
    67% {opacity: 0}
    68% {opacity: 100}
    69% {opacity: 0}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 0}
    76% {opacity: 0}
    77% {opacity: 0}
    78% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 100}
    81% {opacity: 0}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 0}
    87% {opacity: 0}
    88% {opacity: 0}
    89% {opacity: 0}
    90% {opacity: 0}
    92% {opacity: 100}
    93% {opacity: 0}
    98% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 0}
  }

  @keyframes frame10 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 0}
    3% {opacity: 0} 
    4% {opacity: 0}
    5% {opacity: 0}
    6% {opacity: 0}
    7% {opacity: 0}
    8% {opacity: 0}
    9% {opacity: 100}
    10% {opacity: 0}
    11% {opacity: 0}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 0}
    15% {opacity: 0}
    16% {opacity: 0}
    17% {opacity: 0}
    18% {opacity: 0}
    19% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 100}
    22% {opacity: 0}
    23% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 0}
    27% {opacity: 0}
    28% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 0}
    31% {opacity: 0}
    32% {opacity: 0}
    33% {opacity: 100}
    34% {opacity: 0}
    35% {opacity: 0}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 0}
    42% {opacity: 0}
    43% {opacity: 0}
    44% {opacity: 0}
    45% {opacity: 100}
    46% {opacity: 0}
    47% {opacity: 0}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 0}
    51% {opacity: 0}
    52% {opacity: 0}
    53% {opacity: 0}
    54% {opacity: 0}
    55% {opacity: 0}
    56% {opacity: 0}
    57% {opacity: 100}
    58% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 0}
    63% {opacity: 0}
    64% {opacity: 0}
    65% {opacity: 0}
    66% {opacity: 0}
    67% {opacity: 0}
    68% {opacity: 0}
    69% {opacity: 100}
    70% {opacity: 0}
    71% {opacity: 0}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 0}
    76% {opacity: 0}
    77% {opacity: 0}
    78% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0}
    81% {opacity: 100}
    82% {opacity: 0}
    83% {opacity: 0}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 0}
    87% {opacity: 0}
    88% {opacity: 0}
    89% {opacity: 0}
    90% {opacity: 0}
    93% {opacity: 100}
    94% {opacity: 100}
    95% {opacity: 0}
    97% {opacity: 0}
    98% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 0}
  }

  @keyframes frame11 {
    0% {opacity: 0;}
    1% {opacity: 0}
    2% {opacity: 0}
    3% {opacity: 0} 
    4% {opacity: 0}
    5% {opacity: 0}
    6% {opacity: 0}
    7% {opacity: 0}
    8% {opacity: 0}
    9% {opacity: 0}
    10% {opacity: 100}
    11% {opacity: 100}
    12% {opacity: 0}
    13% {opacity: 0}
    14% {opacity: 0}
    15% {opacity: 0}
    16% {opacity: 0}
    17% {opacity: 0}
    18% {opacity: 0}
    19% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 0}
    22% {opacity: 100}
    23% {opacity: 100}
    24% {opacity: 0}
    25% {opacity: 0}
    26% {opacity: 0}
    27% {opacity: 0}
    28% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 0}
    31% {opacity: 0}
    32% {opacity: 0}
    33% {opacity: 0}
    34% {opacity: 100}
    35% {opacity: 100}
    36% {opacity: 0}
    37% {opacity: 0}
    38% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 0}
    41% {opacity: 0}
    42% {opacity: 0}
    43% {opacity: 0}
    44% {opacity: 0}
    45% {opacity: 0}
    46% {opacity: 100}
    47% {opacity: 100}
    48% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 0}
    51% {opacity: 0}
    52% {opacity: 0}
    53% {opacity: 0}
    54% {opacity: 0}
    55% {opacity: 0}
    56% {opacity: 0}
    57% {opacity: 0}
    58% {opacity: 100}
    59% {opacity: 100}
    60% {opacity: 0}
    61% {opacity: 0}
    62% {opacity: 0}
    63% {opacity: 0}
    64% {opacity: 0}
    65% {opacity: 0}
    66% {opacity: 0}
    67% {opacity: 0}
    68% {opacity: 0}
    69% {opacity: 0}
    70% {opacity: 100}
    71% {opacity: 100}
    72% {opacity: 0}
    73% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 0}
    76% {opacity: 0}
    77% {opacity: 0}
    78% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 0}
    81% {opacity: 0}
    82% {opacity: 100}
    83% {opacity: 100}
    84% {opacity: 0}
    85% {opacity: 0}
    86% {opacity: 0}
    87% {opacity: 0}
    88% {opacity: 0}
    89% {opacity: 0}
    90% {opacity: 0}
    94% {opacity: 100}
    95% {opacity: 0}
    97% {opacity: 0}
    98% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 0}
  }

.fab.fa-instagram {
    font-size: 80px;
    color: white;
    position: absolute;
    bottom: 12%;
    right: 50%;
}

.fab.fa-instagram:hover {
    opacity: 30%;
}