body {
  background: radial-gradient(farthest-corner at 15vw 10vh, #D4DFB5, #87B165);
}

.weedDiv {
  position: absolute;
  right: 10%;
  bottom: 0px;
}

.weedDiv img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 450px;
  bottom: 0px;
}

.blow {
  right: 0px;
  top: 0px;
}

.seed {
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  -webkit-animation-name: wind;
          animation-name: wind;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.layer1 {
  opacity: 0;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  -webkit-box-shadow: 25.3vw 58.8vh 0 -0.34rem#fff,51vw 70.4vh 0 -0.46rem#fff,88vw 27.8vh 0 -0.12rem#fff,57vw 95.9vh 0 -0.36rem#fff,68vw 79.4vh 0 -0.39rem#fff,71vw 55.3vh 0 -0.11rem#fff,2.6vw 77.6vh 0 -0.36rem#fff,59.3vw 44.4vh 0 -0.14rem#fff,31.5vw 61.8vh 0 -0.1rem#fff,77vw 20.9vh 0 -0.43rem#fff,12.1vw 45.3vh 0 -0.03rem#fff,71.2vw 60.1vh 0 -0.22rem#fff,15.8vw 61.5vh 0 -0.06rem#fff,56.6vw 11vh 0 -0.37rem#fff,70.9vw 37.3vh 0 -0.47rem#fff,23.7vw 14.8vh 0 -0.33rem#fff,47.8vw 64vh 0 -0.17rem#fff,21.8vw 46.8vh 0 -0.02rem#fff,40.1vw 55.1vh 0 -0.46rem#fff,22.7vw 41.3vh 0 -0.49rem#fff,59.3vw 3.3vh 0 -0.07rem#fff,25.6vw 20.1vh 0 -0.31rem#fff,5.2vw 98.2vh 0 -0.25rem#fff,36.5vw 13.2vh 0 -0.02rem#fff,13.2vw 76vh 0 -0.45rem#fff;
          box-shadow: 25.3vw 58.8vh 0 -0.34rem#fff,51vw 70.4vh 0 -0.46rem#fff,88vw 27.8vh 0 -0.12rem#fff,57vw 95.9vh 0 -0.36rem#fff,68vw 79.4vh 0 -0.39rem#fff,71vw 55.3vh 0 -0.11rem#fff,2.6vw 77.6vh 0 -0.36rem#fff,59.3vw 44.4vh 0 -0.14rem#fff,31.5vw 61.8vh 0 -0.1rem#fff,77vw 20.9vh 0 -0.43rem#fff,12.1vw 45.3vh 0 -0.03rem#fff,71.2vw 60.1vh 0 -0.22rem#fff,15.8vw 61.5vh 0 -0.06rem#fff,56.6vw 11vh 0 -0.37rem#fff,70.9vw 37.3vh 0 -0.47rem#fff,23.7vw 14.8vh 0 -0.33rem#fff,47.8vw 64vh 0 -0.17rem#fff,21.8vw 46.8vh 0 -0.02rem#fff,40.1vw 55.1vh 0 -0.46rem#fff,22.7vw 41.3vh 0 -0.49rem#fff,59.3vw 3.3vh 0 -0.07rem#fff,25.6vw 20.1vh 0 -0.31rem#fff,5.2vw 98.2vh 0 -0.25rem#fff,36.5vw 13.2vh 0 -0.02rem#fff,13.2vw 76vh 0 -0.45rem#fff;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.layer2 {
  opacity: 0;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-box-shadow: 55.9vw 82.8vh 0 -0.11rem#fff,93.1vw 18.5vh 0 -0.35rem#fff,94vw 33.6vh 0 -0.09rem#fff,71.2vw 97.5vh 0 -0.18rem#fff,14.9vw 91.5vh 0 -0.42rem#fff,74.4vw 15.1vh 0 -0.19rem#fff,85.7vw 55.7vh 0 -0.15rem#fff,69vw 33.8vh 0 -0.01rem#fff,45.3vw 51.5vh 0 -0.47rem#fff,2.2vw 71.6vh 0 -0.08rem#fff,65.8vw 49.3vh 0 -0.09rem#fff,41.9vw 73.1vh 0 -0.16rem#fff,33.9vw 9.9vh 0 -0.22rem#fff,3.6vw 89vh 0 -0.02rem#fff,64.9vw 87.6vh 0 -0.43rem#fff,28.5vw 76.1vh 0 -0.27rem#fff,21.6vw 61.9vh 0 -0.02rem#fff,57.2vw 97.2vh 0 -0.35rem#fff,46.8vw 50.8vh 0 -0.05rem#fff,65vw 29.4vh 0 -0.14rem#fff,58.6vw 18.4vh 0 -0.26rem#fff,18.3vw 18vh 0 -0.12rem#fff,47vw 11.6vh 0 -0.49rem#fff,81.6vw 13.7vh 0 -0.42rem#fff,62.3vw 90.3vh 0 -0.24rem#fff;
          box-shadow: 55.9vw 82.8vh 0 -0.11rem#fff,93.1vw 18.5vh 0 -0.35rem#fff,94vw 33.6vh 0 -0.09rem#fff,71.2vw 97.5vh 0 -0.18rem#fff,14.9vw 91.5vh 0 -0.42rem#fff,74.4vw 15.1vh 0 -0.19rem#fff,85.7vw 55.7vh 0 -0.15rem#fff,69vw 33.8vh 0 -0.01rem#fff,45.3vw 51.5vh 0 -0.47rem#fff,2.2vw 71.6vh 0 -0.08rem#fff,65.8vw 49.3vh 0 -0.09rem#fff,41.9vw 73.1vh 0 -0.16rem#fff,33.9vw 9.9vh 0 -0.22rem#fff,3.6vw 89vh 0 -0.02rem#fff,64.9vw 87.6vh 0 -0.43rem#fff,28.5vw 76.1vh 0 -0.27rem#fff,21.6vw 61.9vh 0 -0.02rem#fff,57.2vw 97.2vh 0 -0.35rem#fff,46.8vw 50.8vh 0 -0.05rem#fff,65vw 29.4vh 0 -0.14rem#fff,58.6vw 18.4vh 0 -0.26rem#fff,18.3vw 18vh 0 -0.12rem#fff,47vw 11.6vh 0 -0.49rem#fff,81.6vw 13.7vh 0 -0.42rem#fff,62.3vw 90.3vh 0 -0.24rem#fff;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.layer3 {
  opacity: 0;
  width: 0.8rem;
  height: 0.8rem;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  -webkit-box-shadow: 49.1vw 48.8vh 0 -0.21rem#fff,56.8vw 3.4vh 0 -0.18rem#fff,10.8vw 1.6vh 0 -0.14rem#fff,54.8vw 75vh 0 -0.42rem#fff,14.2vw 53.3vh 0 -0.38rem#fff,16.9vw 51.3vh 0 -0.47rem#fff,89.4vw 68.9vh 0 -0.06rem#fff,90vw 58.1vh 0 -0.08rem#fff,80.3vw 56.3vh 0 -0.02rem#fff,2.6vw 66.6vh 0 -0.16rem#fff,90.1vw 54.2vh 0 -0.07rem#fff,47.8vw 50vh 0 -0.12rem#fff,98.4vw 48vh 0 -0.01rem#fff,70.2vw 47.6vh 0 -0.01rem#fff,68.2vw 40vh 0 -0.15rem#fff,58.3vw 76.6vh 0 -0.39rem#fff,96.1vw 52.2vh 0 -0.46rem#fff,68.9vw 4.1vh 0 -0.29rem#fff,54.5vw 52vh 0 -0.49rem#fff,18.8vw 47.7vh 0 -0.06rem#fff,15.2vw 9.4vh 0 -0.34rem#fff,66.1vw 13.7vh 0 -0.27rem#fff,0.2vw 73vh 0 -0.14rem#fff,12.7vw 26.5vh 0 -0.27rem#fff,51.2vw 44.5vh 0 -0.24rem#fff;
          box-shadow: 49.1vw 48.8vh 0 -0.21rem#fff,56.8vw 3.4vh 0 -0.18rem#fff,10.8vw 1.6vh 0 -0.14rem#fff,54.8vw 75vh 0 -0.42rem#fff,14.2vw 53.3vh 0 -0.38rem#fff,16.9vw 51.3vh 0 -0.47rem#fff,89.4vw 68.9vh 0 -0.06rem#fff,90vw 58.1vh 0 -0.08rem#fff,80.3vw 56.3vh 0 -0.02rem#fff,2.6vw 66.6vh 0 -0.16rem#fff,90.1vw 54.2vh 0 -0.07rem#fff,47.8vw 50vh 0 -0.12rem#fff,98.4vw 48vh 0 -0.01rem#fff,70.2vw 47.6vh 0 -0.01rem#fff,68.2vw 40vh 0 -0.15rem#fff,58.3vw 76.6vh 0 -0.39rem#fff,96.1vw 52.2vh 0 -0.46rem#fff,68.9vw 4.1vh 0 -0.29rem#fff,54.5vw 52vh 0 -0.49rem#fff,18.8vw 47.7vh 0 -0.06rem#fff,15.2vw 9.4vh 0 -0.34rem#fff,66.1vw 13.7vh 0 -0.27rem#fff,0.2vw 73vh 0 -0.14rem#fff,12.7vw 26.5vh 0 -0.27rem#fff,51.2vw 44.5vh 0 -0.24rem#fff;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

@-webkit-keyframes wind {
  0% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh);
    opacity: 0;
  }
}

@keyframes wind {
  0% {
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh);
    opacity: 0;
  }
}

.text {
  width: 100vw;
  height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  vertical-align: baseline;
}

.name {
  font-family: 'Cormorant', serif;
  color: white;
  font-size: 100px;
}

.navBar {
  position: absolute;
  bottom: 0px;
  left: 10%;
  visibility: hidden;
  opacity: 0;
  -webkit-animation: appear 30s linear 5s;
          animation: appear 30s linear 5s;
}

.navBar .about:hover {
  opacity: 30%;
}

.navBar .cook:hover {
  opacity: 30%;
}

.navBar .design:hover {
  opacity: 30%;
}

@-webkit-keyframes appear {
  from {
    visibility: visible;
    opacity: 100;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes appear {
  from {
    visibility: visible;
    opacity: 100;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
